.custom-card-container {
  background-size: cover !important;
  background-repeat: no-repeat !important;
  border-radius: 24px;
  height: 564px;
  justify-content: end;
  overflow: hidden;
  [dir="rtl"] & {
    svg {
      transform: rotateY(180deg);
    }
  }
  .-custom-card-link {
    padding: 1rem 0;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-radius: 20px 20px 16px 16px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(22px);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 0.3s;
    .--card-title {
      font-size: 32px;
      font-weight: 600;
      line-height: normal;
      [dir="rtl"] & {
        line-height: unset;
      }

      transition: all 0.3s;
      // transform: translatey(50%);
    }
    .--card-explore {
      width: 100%;
      font-size: 22px;
      font-style: normal;
      font-weight: 500;
      line-height: 36px;
      [dir="rtl"] & {
        line-height: unset;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      visibility: hidden;
      opacity: 0;
      transition: all 0.3s;
      transition-delay: 0.1s;
      transform: translatex(-50%);
    }
    .icon-style {
      width: 22px;
      margin-inline: 6px;
    }
  }
  &:hover .-custom-card-link {
    height: 230.518px;
    background: var(--Linear-Purple, linear-gradient(132deg, #9f57ff 0%, #6525ba 100%));
    justify-content: space-around;
    .--card-title {
      font-size: 36px;
      transform: translatey(0);
    }
    .--card-explore {
      transform: translatex(0);
      visibility: visible;
      opacity: 1;
    }
  }
  @media screen and (min-width: 1441px) and (max-width: 1650px) {
    height: 520px;
    .-custom-card-link {
      padding-inline: 32px;
      height: 140px;
      .--card-title {
        font-size: 28px;
      }
      .--card-explore {
        font-size: 20px;
        line-height: 28px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .icon-style {
        width: 20px;
      }
    }
    &:hover .-custom-card-link {
      height: 220px;
      .--card-title {
        font-size: 32px;
      }
    }
  }
  @media screen and (min-width: 1201px) and (max-width: 1440px) {
    height: 490px;
    .-custom-card-link {
      padding-inline: 28px;
      height: 140px;
      .--card-title {
        font-size: 28px;
      }
      .--card-explore {
        font-size: 18px;
        line-height: 24px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .icon-style {
        width: 18px;
      }
    }
    &:hover .-custom-card-link {
      height: 200px;
      .--card-title {
        font-size: 30px;
      }
    }
  }
  @media screen and (min-width: 994px) and (max-width: 1200px) {
    height: 460px;
    .-custom-card-link {
      padding-inline: 24px;
      height: 140px;
      .--card-title {
        font-size: 24px;
      }
      .--card-explore {
        font-size: 16px;
        line-height: 20px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .icon-style {
        width: 16px;
      }
    }
    &:hover .-custom-card-link {
      height: 180px;
      .--card-title {
        font-size: 28px;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 993px) {
    height: 420px;
    .-custom-card-link {
      padding-inline: 20px;
      height: 120px;
      .--card-title {
        font-size: 22px;
      }
      .--card-explore {
        font-size: 14px;
        line-height: 16px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .icon-style {
        width: 14px;
      }
    }
    &:hover .-custom-card-link {
      height: 160px;
      .--card-title {
        font-size: 26px;
      }
    }
  }
  @media screen and (min-width: 577px) and (max-width: 768px) {
    height: 380px;
    .-custom-card-link {
      padding-inline: 18px;
      height: 90px;
      .--card-title {
        font-size: 20px;
      }
      .--card-explore {
        font-size: 12px;
        line-height: 14px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .icon-style {
        width: 12px;
      }
    }
    &:hover .-custom-card-link {
      height: 140px;
      .--card-title {
        font-size: 24px;
      }
    }
  }
  @media screen and (min-width: 0) and (max-width: 576px) {
    height: 240px;
    .-custom-card-link {
      padding-inline: 12px;
      height: 55px;
      .--card-title {
        font-size: 16px;
      }
      .--card-explore {
        font-size: 10px;
        line-height: 12px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .icon-style {
        width: 10px;
      }
    }
    &:hover .-custom-card-link {
      height: 100px;
      .--card-title {
        font-size: 18px;
      }
    }
  }
}
