.button-tabs-container {
  width: 100%;
  margin: 64px 0;
  .-button-tabs {
    .MuiTabs-flexContainer {
      gap: 20px;
      justify-content: center;
    }
    .--button-tab {
      color: #fff;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: 12px;
      border: 1px solid rgba(255, 255, 255, 0.15);
      padding: 15px 48px;
    }
    .Mui-selected {
      background-image: linear-gradient(132deg, #9f57ff 0%, #6525ba 100%);
    }
    .MuiTabs-indicator {
      display: none;
    }
  }
  @media screen and (min-width: 769px) and (max-width: 993px) {
    .-button-tabs {
      .MuiTabs-flexContainer {
        gap: 16px;
      }
      .--button-tab {
        font-size: 16px;
        padding: 12px 42px;
      }
    }
  }
  @media screen and (min-width: 577px) and (max-width: 768px) {
    .-button-tabs {
      .MuiTabs-flexContainer {
        gap: 12px;
      }
      .--button-tab {
        font-size: 14px;
        min-height: 32px;
        padding: 10px 36px;
      }
    }
  }
  @media screen and (min-width: 0) and (max-width: 576px) {
    .-button-tabs {
      .MuiTabs-flexContainer {
        gap: 8px;
      }
      .--button-tab {
        font-size: 10px;
        min-height: 32px;
        padding: 8px 24px;
      }
    }
  }
  @media screen and (min-width: 0) and (max-width: 767px) {
      margin:0 !important;
  }
}
