.footer-list-header.MuiStack-root {
  gap: 1rem;

  .footer-list-header .MuiTypography-root {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    /* font-family: Inter; */
    color: #fff;
  }
}

.grid.MuiStack-root {
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  .grid .MuiTypography-root {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    grid-column: span 2;
    /* font-family: Inter; */
    color: #fff;
  }
}
