.about-leaders-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  .leaders-title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1/4;
    grid-row: 2/3;
  }
}
@media (max-width: 1440px) {
  .about-leaders-container {
    grid-template-columns: repeat(3, 1fr);
    .leaders-title {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }
}
@media (max-width: 994px) {
  .about-leaders-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 577px) {
  .about-leaders-container {
    grid-template-columns: 1fr;
    .leaders-title {
      grid-column: 1/2;
      grid-row: 1/2;
    }
  }
}
