.principles-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 1200px) {
  .principles-card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .principles-card-container {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 0.5rem;
    row-gap: 1rem;
  }
}
