.testimonial-cards-grid {
  display: grid;
  row-gap: 42px;
  column-gap: 29px;
  margin: 100px 0;
  grid-template-columns: repeat(3, 1fr);

  @media (min-width: 769px) and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 24px 0;
  }

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 24px 0;
  }
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1201px) {
    grid-template-columns: repeat(3, 1fr);
  }
}
