.about-vision-mission-container {
  gap: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 74px 70px;
  background-color: #0d0d17;
  box-shadow: 0px 4px 64px 0px #0000001a;
  border-radius: 24px;
  .-about-vision-mission-image-container {
    width: 235px;
    height: 235px;
    .--about-vision-mission-image {
      width: 235px;
      height: 235px;
    }
  }
  .-about-vision-mission-content {
    gap: 18px;
    .--about-vision-mission-title {
      overflow: hidden;
      font-size: 42px;
      font-weight: 400;
      line-height: 58.8px;
      color: #fff;
      [dir="rtl"] & {
        line-height: unset;
      }
    }
    .--about-vision-mission-description {
      font-size: 24px;
      font-weight: 400;
      line-height: 33.6px;
      color: #75778b;
      [dir="rtl"] & {
        line-height: unset;
      }
    }
  }
  @media screen and (min-width: 1441px) and (max-width: 1650px) {
    gap: 58px;
    flex-direction: row;
    padding: 68px 64px;
    .-about-vision-mission-image-container {
      width: 220px;
      height: 220px;
      .--about-vision-mission-image {
        width: 220px;
        height: 220px;
      }
    }
    .-about-vision-mission-content {
      gap: 18px;
      .--about-vision-mission-title {
        font-size: 40px;
        line-height: 52.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 22px;
        line-height: 30.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
  @media screen and (min-width: 1201px) and (max-width: 1440px) {
    gap: 52px;
    flex-direction: row;
    padding: 60px 54px;
    .-about-vision-mission-image-container {
      width: 210px;
      height: 210px;
      .--about-vision-mission-image {
        width: 210px;
        height: 210px;
      }
    }
    .-about-vision-mission-content {
      gap: 16px;
      .--about-vision-mission-title {
        font-size: 36px;
        line-height: 46.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 20px;
        line-height: 30.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
  @media screen and (min-width: 994px) and (max-width: 1200px) {
    gap: 48px;
    flex-direction: row;
    padding: 52px 48px;
    .-about-vision-mission-image-container {
      width: 200px;
      height: 200px;
      .--about-vision-mission-image {
        width: 200px;
        height: 200px;
      }
    }
    .-about-vision-mission-content {
      gap: 16px;
      .--about-vision-mission-title {
        font-size: 32px;
        line-height: 44.5px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 20px;
        line-height: 30.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 993px) {
    gap: 42px;
    flex-direction: row;
    padding: 48px 42px;
    .-about-vision-mission-image-container {
      width: 180px;
      height: 180px;
      .--about-vision-mission-image {
        width: 180px;
        height: 180px;
      }
    }
    .-about-vision-mission-content {
      gap: 14px;
      .--about-vision-mission-title {
        font-size: 28px;
        line-height: 32.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 18px;
        line-height: 26.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
  @media screen and (min-width: 577px) and (max-width: 768px) {
    gap: 12px;
    flex-direction: column;
    padding: 28px 22px;
    .-about-vision-mission-image-container {
      width: 140px;
      height: 140px;
      .--about-vision-mission-image {
        width: 140px;
        height: 140px;
      }
    }
    .-about-vision-mission-content {
      text-align: center;
      gap: 12px;
      .--about-vision-mission-title {
        font-size: 24px;
        line-height: 28.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 16px;
        line-height: 20.6px;
      }
    }
  }
  @media screen and (min-width: 0) and (max-width: 576px) {
    gap: 12px;
    flex-direction: column;
    padding: 24px 16px;
    .-about-vision-mission-image-container {
      width: 100px;
      height: 100px;
      .--about-vision-mission-image {
        width: 100px;
        height: 100px;
      }
    }
    .-about-vision-mission-content {
      text-align: center;
      gap: 12px;
      .--about-vision-mission-title {
        font-size: 16px;
        line-height: 22.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 12px;
        line-height: 18.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
}
.about-vision-mission-container-reverse {
  flex-direction: row-reverse;
  @media screen and (min-width: 0) and (max-width: 768px) {
    flex-direction: column;
  }
}
.about-vision-mission-container-column {
  flex-direction: column;
  text-align: center;
  width: calc((100% - 78px) / 3) !important;
  gap: 16px !important;
  padding: 70px 42px;
  .-about-vision-mission-image-container {
    width: 195px;
    height: 195px;
    .--about-vision-mission-image {
      width: 195px;
      height: 195px;
    }
  }
  .-about-vision-mission-content {
    gap: 16px;
    .--about-vision-mission-title {
      font-size: 32px;
      line-height: 42.8px;
      [dir="rtl"] & {
        line-height: unset;
      }
    }
    .--about-vision-mission-description {
      font-size: 24px;
      line-height: 30.6px;
      [dir="rtl"] & {
        line-height: unset;
      }
    }
  }
  @media screen and (min-width: 1441px) and (max-width: 1650px) {
    flex-direction: column;
    text-align: center;
    width: calc((100% - 64px) / 3) !important;
    gap: 16px !important;
    padding: 62px 38px;
    .-about-vision-mission-image-container {
      width: 180px;
      height: 180px;
      .--about-vision-mission-image {
        width: 180px;
        height: 180px;
      }
    }
    .-about-vision-mission-content {
      gap: 16px;
      .--about-vision-mission-title {
        font-size: 30px;
        line-height: 38.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 22px;
        line-height: 28.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
  @media screen and (min-width: 1201px) and (max-width: 1440px) {
    flex-direction: column;
    text-align: center;
    width: calc((100% - 56px) / 3) !important;
    gap: 14px !important;
    padding: 48px 28px;
    .-about-vision-mission-image-container {
      width: 160px;
      height: 160px;
      .--about-vision-mission-image {
        width: 160px;
        height: 160px;
      }
    }
    .-about-vision-mission-content {
      gap: 14px;
      .--about-vision-mission-title {
        font-size: 28px;
        line-height: 32.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 20px;
        line-height: 28.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
  @media screen and (min-width: 994px) and (max-width: 1200px) {
    flex-direction: column;
    text-align: center;
    width: calc((100% - 48px) / 3) !important;
    gap: 14px !important;
    padding: 36px 22px;
    .-about-vision-mission-image-container {
      width: 140px;
      height: 140px;
      .--about-vision-mission-image {
        width: 140px;
        height: 140px;
      }
    }
    .-about-vision-mission-content {
      gap: 12px;
      .--about-vision-mission-title {
        font-size: 22px;
        line-height: 28.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 16px;
        line-height: 24.6px;
      }
    }
  }
  @media screen and (min-width: 769px) and (max-width: 993px) {
    flex-direction: column;
    text-align: center;
    width: calc((100% - 36px) / 3) !important;
    gap: 14px !important;
    padding: 24px 18px;
    .-about-vision-mission-image-container {
      width: 120px;
      height: 120px;
      .--about-vision-mission-image {
        width: 120px;
        height: 120px;
      }
    }
    .-about-vision-mission-content {
      gap: 12px;
      .--about-vision-mission-title {
        font-size: 18px;
        line-height: 24.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 14px;
        line-height: 20.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
  @media screen and (min-width: 577px) and (max-width: 768px) {
    flex-direction: row;
    width: 100% !important;
    gap: 24px !important;
    padding: 24px 18px;
    .-about-vision-mission-image-container {
      width: 100px;
      height: 100px;
      .--about-vision-mission-image {
        width: 100px;
        height: 100px;
      }
    }
    .-about-vision-mission-content {
      text-align: start;
      gap: 12px;
      .--about-vision-mission-title {
        font-size: 18px;
        line-height: 24.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 14px;
        line-height: 20.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
  @media screen and (min-width: 0) and (max-width: 576px) {
    flex-direction: row;
    width: 100% !important;
    gap: 24px !important;
    padding: 16px 16px;
    .-about-vision-mission-image-container {
      width: 70px;
      height: 70px;
      .--about-vision-mission-image {
        width: 70px;
        height: 70px;
      }
    }
    .-about-vision-mission-content {
      text-align: start;
      gap: 10px;
      .--about-vision-mission-title {
        font-size: 16px;
        line-height: 20.8px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
      .--about-vision-mission-description {
        font-size: 12px;
        line-height: 18.6px;
        [dir="rtl"] & {
          line-height: unset;
        }
      }
    }
  }
}
