.slick-list {
  padding: 3rem 0 !important;
}

@media (max-width: 768px) {
  .slick-list {
    padding: 3rem 0 !important;
    overflow: visible;
    & .slick-next {
      right: -2%;
      top: 143%;
      [dir="rtl"] & {
        right: unset;
        left: -2%;
        rotate: 180deg;
        top: 130%;
      }
    }
    & .slick-next:before {
      content: "";
    }
    & .slick-prev {
      top: 143%;
      right: 13%;
      left: unset;
      [dir="rtl"] & {
        right: unset;
        left: 15%;
        rotate: 180deg;
        top: 130%;
      }
    }
  }
}
